VITE_FIREBASE_KEY= 'from firebase'

VITE_AUTH_DOMAIN= 'from firebase'

VITE_PROJECT_ID='from firebase'

VITE_STORAGE_BUCKET='from firebase'

VITE_MESSAGING_SENDER_ID='from firebase'

VITE_APP_ID='from firebase'

VITE_SERVER='Your Backend Server URl'

VITE_STRIPE_KEY='Stripe Publishable Key'