.footer {
  background-color: #333;
  color: #fff;
  padding: 40px 0;

  .footer-container {
    max-width: 1200px;
    margin: auto;
    padding: 0 20px;
  }

  .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .footer-col {
    flex: 1;
    min-width: 250px;
    margin-bottom: 30px;

    h4 {
      font-size: 18px;
      color: #f4f4f4;
      text-transform: uppercase;
      margin-bottom: 20px;
      position: relative;

      &:after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -10px;
        background-color: $color3;
        height: 2px;
        width: 50px;
      }
    }

    ul {
      list-style-type: none;
      padding: 0;

      li {
        margin-bottom: 10px;

        a {
          color: #bbb;
          text-decoration: none;
          transition: color 0.3s ease;

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  .social-links {
    @include flex(column, flex-start, flex-start);
    a {
      height: 40px;
      width: 40px;
      background-color: #404040;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;

      &:hover {
        background-color: $color3;
      }

      svg {
        color: #fff;
        font-size: 20px;
      }
    }
  }
}
