.home {
  padding: 2rem 5%;
  display: flex;
  flex-direction: column;
  // min-height: calc(100vh - 4rem);
  max-width: 1920px;
  margin: auto;
  width: 100%;

  > section {
    display: none;
    width: 100%;
    height: 20rem;
    margin: auto;
    background: url("../assets/cover.jpg") no-repeat center / cover;
  }

  > div {
    @include flex;
    align-items: stretch;
    margin: 2rem 0;
    gap: 5rem;

    aside {
      width: 10%;
      // border: 1px solid $color3;
      flex: none;
      h1 {
        @include heading(1px);
        margin-bottom: 3rem;
        @include flex(row, space-between, center);
        &::before {
          content: "";
          width: 3px;
          height: 2rem;
          background-color: $color3;
          position: absolute;
          transform: translateX(-1rem);
        }
      }

      > ul {
        @include flex(column, flex-start, flex-start);
        list-style: none;
        > li {
          cursor: pointer;
          color: red;
          flex: none;
        }
      }
      .findmore {
        font-size: 1rem;
      }
    }
  }

  > h1 {
    @include heading(1px);
    margin-top: 3rem;
    @include flex(row, space-between, center);
  }

  .findmore {
    font-size: 1rem;
  }

  > main {
    margin: 2rem 0;
    width: 100%;
    display: flex;
    gap: 1rem;
    overflow-x: auto;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.product-card {
  width: 18.75rem;
  height: 25rem;
  padding: 1rem;
  flex: none;
  @include flex(column, flex-start, center, 4px);
  position: relative;
  background-color: white;

  &:hover > div {
    opacity: 1;
  }

  img {
    @include square(calc(18.75rem - 3rem));
    object-fit: cover;
    margin: 1rem;
  }

  span {
    font-weight: 700;
    font-size: 1.1rem;
  }

  > div {
    opacity: 0;
    position: absolute;
    @include square(100%);
    top: 0;
    left: 0;
    background-color: #0000006b;
    @include flex;
    button,
    a {
      @include flex;
      @include square(3rem);
      border-radius: 100%;
      border: none;
      background-color: $color3;
      cursor: pointer;
      color: $color1;
      font-size: 1.1rem;
      transition: all 0.3s;
      &:hover {
        rotate: 20deg;
      }
    }
  }
}

.cover-video-container {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  @include flex(column);

  .cover-video-overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
  video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  > span {
    position: absolute;
    bottom: 2rem;
    z-index: 1;

    svg {
      color: white;
      font-size: 3rem;
    }
  }
  .cover-video-content {
    z-index: 3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    h2 {
      font-size: 3rem;
    }
    span {
      font-size: 1.5rem;
    }
  }
}

.our-services {
  background-color: #fff; // Light grey background
  padding: 10rem;
  position: relative;
  overflow: hidden;

  > ul {
    max-width: 1367px;
    margin: 0 auto;

    @include grid(1fr 1fr 1fr, 0, auto);
    list-style: none;
    > li {
      @include flex(column);
      > div {
        background-color: black;
        @include square(5rem);
        @include flex;
        border-radius: 50%;
        border: 0.6rem solid gray;
        transition: all 0.3s ease;
        svg {
          color: white;
          font-size: 2.5rem;
        }

        &:hover {
          border: 0rem solid rgb(0, 0, 0);
        }
      }

      > section {
        @include flex(column);
        text-align: center;
        gap: 0;
        margin-top: 1rem;
        h3 {
          font-size: 1.5rem;
          color: #000000;
        }
        p {
          font-size: 1rem;
          color: #3a3a3a;
        }
      }
    }
  }
}

.our-clients {
  background-color: #fff; // Light grey background
  padding: 10rem;
  position: relative;
  overflow: hidden;

  div {
    max-width: 1367px;
    margin: 0 auto;

    h2 {
      color: #333; // Dark text color for the title
      text-align: center;
      @include heading;
      margin-bottom: 4rem;
      font-size: 2rem;
    }

    div {
      @include flex;
      flex-wrap: wrap;
      gap: 3rem;

      img {
        height: 3rem; // Fixed height for all logos
        width: auto;
        transition: transform 0.3s ease;

        &:hover {
          transform: scale(1.1); // Slightly enlarge logos on hover
        }
      }
    }

    p {
      text-align: center;
      margin-top: 4rem;
      margin-bottom: 2rem;
    }
  }
}
